extends _partial/base.jade

block content
  #list
    .content-title #{page.description}
    .project-list-container
      each post in page.posts
        .project-list-item
          a(href='#{config.url}#{page.url}#{post.url}')
            img(src="#{post.cover}" alt='#{post.title}' title='#{post.title}')
