if page.github || page.vimeo || page.astros || page.collab || page.www || page.pics
  #social-footer.social-footer-container
    if page.github
      .social-icon
        a(href="#{page.github}" class="fa fa-github fa-3x" target="_blank")
    if page.vimeo
      .social-icon
        a(href="#{page.vimeo}" class="fa fa-vimeo fa-3x" target="_blank")
    if page.pics
      .social-icon
        a(href="#{page.pics}" class="fa fa-camera fa-3x" target="_blank")
    if page.astros
      .social-icon
        a(href="#{page.astros}" class="fo-asterisk fa-3x" target="_blank")
    if page.www
      .social-icon
        a(href="#{page.www}" class="fa fa-anchor fa-3x" target="_blank")
    if page.collab
      .social-icon
        a(href="#{page.collab}" class="fa fa-heart fa-3x" target="_blank")
